@model _2022_2C_I_LicenciaMedica.Models.Licencia
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Edit";
}

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>Edicion de la visita con el ID: @Html.DisplayFor(model => model.LicenciaId)</h1>
    <hr />
    <div class="row">
        <div class="col-md-4" id="center">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="LicenciaId" />
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label">Descripcion</label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                &nbsp;
                <div class="form-group">
                    <label asp-for="FechaInicio" class="control-label">Fecha de inicio</label>
                    <input asp-for="FechaInicio" type="date" class="form-control" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>
                &nbsp;
                <div class="form-group">
                    <label asp-for="FechaFin" class="control-label">Fecha de fin</label>
                    <input asp-for="FechaFin" type="date" class="form-control" />
                    <span asp-validation-for="FechaFin" class="text-danger"></span>
                </div>
                &nbsp;
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Activa" /> @Html.DisplayNameFor(model => model.Activa)
                    </label>
                </div>

                <div class="form-group">
                    <input type="hidden" asp-for="EmpleadoId" class="form-control" asp-items="ViewBag.EmpleadoId"></input>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="MedicoId" class="form-control" asp-items="ViewBag.MedicoId"></input>
                </div>

                <br>
                <div class="form-group">
                    <input class="btn btn-light form-control" value="Guardar cambios" type="submit" method="post" href="Licencias/MisVisitas">
                </div>
            </form>
        </div>
    </div>
    <br>

    <div>
        @{
            string redirect = "";

            if (@HttpContextAccessor.HttpContext.Session.GetString("rol") == "medico")
            {
                redirect = "MisVisitas";
            }
            if (@HttpContextAccessor.HttpContext.Session.GetString("rol") == "rrhh")
            {
                redirect = "Licencias";

            }
        }
        <button id="atras" type="button" class="btn btn-secondary" onclick="location.href='@Url.Action(redirect)'">Volver a la lista</button>
    </div>
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

</html>

<style>
    #center {
        margin: auto;
    }

    #atras {
        top: 88%;
        position: absolute;
        opacity: 50%;
    }
</style>