@model IEnumerable<_2022_2C_I_LicenciaMedica.Models.Licencia>

@{
    ViewData["Title"] = "Mis Licencias";
}

<html>

<body>

    <div class="caja-transparente">

        <h1 class="mt-3 mb-3" id="h1">
            Mis Licencias
        </h1>

        @{
            //Joaquín
        }

        @foreach (var item in Model)
        {
            int contador = 0;
            contador++;
            int cant = contador + 1;

            <div class="card" style="width: 18rem; margin: .25rem;">
                <div class="card-body">
                    <h5 class="card-title">Licencia N°: @cant</h5>
                    <b class="card-text">Nombre medico: @Html.DisplayFor(modelItem => item.Medico.Nombre)</b><br>
                    <b class="card-text">@Html.DisplayNameFor(model => model.Descripcion): @Html.DisplayFor(modelItem => item.Descripcion)</b><br>
                    <b class="card-text">@Html.DisplayNameFor(model => model.FechaInicio): @item.FechaInicio.ToShortDateString() </b><br>
                    <b class="card-text">@Html.DisplayNameFor(model => model.FechaFin): @item.FechaFin.ToShortDateString() </b><br>
                    <b class="card-text">@Html.DisplayNameFor(model => model.Activa): @Html.DisplayFor(modelItem => item.Activa)</b><br>
                </div>
            </div>
        }


        <style>
            .card {
                display: inline-block;
            }
        </style>
    </div>
</body>
</html>